/* Cấu trúc hàng .row */
.row {
    gap: 5vw; /* Giảm khoảng cách giữa các cột theo vw */
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 

.card:hover {
font-family: "Londrina Solid", sans-serif;
transform: translateY(-5px);
}

.card-listing {
font-family: "Londrina Solid", sans-serif;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding: 20px;
}

.card {
font-family: "Londri na Solid", sans-serif;
width: 300px;
background: #fff;
border-radius: 8px;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease-in-out;
}

body {
font-family: "Londrina Solid", sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}

 .row {
    font-family: "Londrina Solid", sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }

.row {
font-family: "Londrina Solid", sans-serif;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px; /* Đưa nút sang bên phải */
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333; /* Màu chữ */
}

.close-btn:hover {
    color: red;
}