@media (min-width: 1025px) {
    .h-custom {
        min-height: 100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-registration {
    width: 100%;
    max-width: 600px; /* Giới hạn chiều rộng */
    margin: auto; /* Căn giữa */
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

#cart-icon-bubble {
    position: relative;
    display: inline-block;
}

#cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
