body{
    background-color: #fbf6dc;
}

.input-group{
    margin-left: 370px;
    padding: 10px 40px 10px 10px;
}
.card{
    margin-top: 25px;
    background-color: #ecc06a;
    border: 0cap;
}
.card-img-top {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 0;
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.form-control{
    width: 300px;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 4px 8px;
    outline: none;
}

.btn-search:hover {
    background-color: #644913; /* Thay đổi màu nền khi hover */
    transform: scale(1.02); /* Phóng to nút nhẹ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng đổ bóng */
  }


